<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phpexpert.bringme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.BringMe"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.RegistrationActivity"
            android:theme="@style/Theme.BringMe.NoActionBar" />
        <activity
            android:name=".activities.OTPActivity"
            android:label="@string/title_activity_o_t_p"
            android:theme="@style/Theme.BringMe.NoActionBar" />

        <activity
            android:name=".activities.employee.PhoneVarificationActivity"
            android:label="@string/title_activity_phone_varification" />

        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.BringMe.NoActionBar" />

        <activity
            android:name=".activities.employee.SwipeViewActivity"
            android:theme="@style/Theme.BringMe.NoActionBarLight" />

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.employee.DashboardActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".activities.delivery.DashboardActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.employee.CreateJobActivity"
            android:theme="@style/Theme.BringMe.NoActionBar" />
        <activity
            android:name=".activities.RegistrationSelectionActivity"
            android:theme="@style/Theme.BringMe.NoActionBarn" />
        <activity
            android:name=".activities.employee.PaymentActivity"
            android:theme="@style/Theme.BringMe.NoActionBar" />
        <activity
            android:name=".activities.employee.CongratulationScreen"
            android:theme="@style/Theme.BringMe.NoActionBar" />
        <activity
            android:name=".activities.employee.ProfileEditActivity"
            android:theme="@style/Theme.BringMe.NoActionBar" />
        <activity
            android:name=".activities.employee.NewCardActivity"
            android:theme="@style/Theme.BringMe.NoActionBar" />

        <activity
            android:name=".activities.delivery.TransactionActivity"
            android:theme="@style/Theme.BringMe.NoActionBar" />

        <activity
            android:name=".activities.delivery.WithdrawActivity"
            android:theme="@style/Theme.BringMe.NoActionBar" />

        <activity
            android:name=".activities.delivery.UploadDocumentSelectActivity"
            android:theme="@style/Theme.BringMe.NoActionBar" />
        <activity
            android:name=".activities.delivery.DocumentUploadActivity"
            android:theme="@style/Theme.BringMe.NoActionBar" />
    </application>

</manifest>